
*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header {
    color: darkblue;
    background-color: lightblue;
    position: fixed;
    top:0px;
    display: inline;
    text-align: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li {
    display: inline;
}

.section1 {
    color: lightblue;
    background-color: darkblue;
    margin-top: 50px; 
}

section {
    color: black;
    background-color: lightgray;
}

last depoloy page to github pages